.countriesContainer {
  display: grid;
  grid-template-columns: repeat(4, 25fr);
  grid-template-rows: repeat(1, auto);
  column-gap: 4rem;
  margin: 0 5rem 0rem 5rem;
  font-size: 14px;
}

.countryContainer {
  margin-bottom: 4rem;
  display: grid;
  grid-template-rows: repeat(2,200px);
  border-radius: 8px;
  /* background-color: hsl(209, 23%, 22%); */
  cursor: pointer;
  z-index: 10;
}

.countryDetails {
  padding: 2rem 1.5rem 0 1.5rem;
  text-align: left;
  gap: 2rem;
}

.countryDetails div {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-top: 0.4rem;
}

.countryDetails h3 {
  padding-bottom: 1rem;
}

.countryFlag{
height: 200px;
z-index: 100;
}
.countryFlag img {
  width:100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem 4rem 5rem;
}
.searchContainer input,
.searchContainer select {
  padding: 0.7rem;
  border-radius: 4px;
  border: none;
}
.searchContainer select {
  width: 15rem;
  /* background-color: hsl(209, 23%, 22%); */
}
.searchContainer select option{
  cursor: pointer;
}

.searchContainer input {
  padding: 0.7rem;
  width: 20rem;
  background-color: transparent;
}

.searchContainer input:focus {
  outline: none;
}
.inputContainer {
  display: flex;
  align-items: center;
  /* background-color: hsl(209, 23%, 22%); */
  border-radius: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.inputContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* .searchContainer input option {
  padding: 0.7rem;
  padding-top: 2%;
} */
