.countryItemContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem 0 5rem;
  gap: 8rem;
  font-size: 16px;
}

.countryItemDetails {
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 8rem;
  margin-top: -2rem;
}

.countryFlag {
  display: flex;
  flex-direction: column;
}

.countryFlag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countryDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countryDetails {
  display: flex;
  gap: 8rem;
  padding-top: 2rem;
}

.countryDetailsA,
.countryDetailsB {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.countryDetailsA div,
.countryDetailsB div {
  display: flex;
  gap: 4px;
  align-items: center;
}

.countryBordersDescription {
  width: 20%;
}

.countryBorders {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 15fr 80fr;
  align-items: center;
}

.countryBorderElements {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.noneBorderCountry {
  padding-left: 0.5rem;
}

.buttonItem {
  padding: 0.5rem 2rem 0.5rem 2rem;
  cursor: pointer;
  border: none;
}

.countryLanguage {
  display: flex;
  align-items: baseline;
}

.arrowLeft {
  padding-right: 8px;
}

@media screen and (min-width: 375px) and (max-width: 915px) {
  .countryItemContainer {
    margin: 3rem 2rem 0 2rem;
  }

  .countryItemDetails {
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
  }

  .countryDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem;
  }

  .countryDetails {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding-top: 2rem;
    margin-top: -1rem;
  }

  .countryBorders {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .countryDetailsB {
    margin-top: -6rem;
  }

  .buttonItem {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    border: none;
  }
}
