@import url('./style/base.css');

.darkMode {
  background-color: var(--darkModeBackground);
}

.darkModeElements {
  background-color: var(--darkModeElements);
  color: var(--darkModeColor);
}


.lightMode {
  background-color: var(--lightModeBackground);
}

.lightModeElements {
  background-color: var(--lightModeElements);
  color: var(--lightModeColor);
}

.detailsDark {
  color: var(--darkModeColor);
}

.detailsLight {
  color: var(--lightModeColor);
}

.App {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
}